<h1>Reset password</h1>

<% if (typeof error !== 'undefined') { %>
<h3 style="color: red"><%= error %></h3>
<% } %> <% if (locals.resetData) { %>

<form action="/auth/reset-password?token=<%= resetData.token %>" method="POST">
  <input type="hidden" name="user_Id" value="<%= resetData.user_Id %>" />

  <input
    type="password"
    name="password"
    required
    placeholder="New password"
  /><br /><br />

  <input
    type="password"
    name="cpassword"
    required
    placeholder="Confirm password"
  /><br /><br />

  <button type="submit">Reset password</button>
</form>
<% } %>
